html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Inter";
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: "Inter";
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #fff;
    overflow: hidden;
}

.e-bigger {
    font-size: medium;
}

.main-content {
    margin-left: 290px;
    overflow-y: auto;
    height: 92vh;
}

/*Breadcrumb*/
.e-breadcrumb a,
.e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*Button*/
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

/*Hyperlink*/
.no-a-decoration,
.no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

    .e-grid .e-gridcontent,
    .e-grid .e-table {
        background-color: #1a222b;
    }

    .e-grid .e-gridheader {
        border: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px;
        background-color: #222b33;
    }

        .e-grid .e-gridheader .e-headercell {
            background-color: #222b33;
        }

    .e-grid .e-gridpager {
        background-color: #1a222b;
    }

    .e-grid .e-pagercontainer {
        border: none;
        background-color: #1a222b;
    }

    .e-grid .e-content table {
        padding: 0px 10px;
    }

.e-pagercontainer .e-icons {
    background-color: #1a222b;
    border: none !important;
}

.e-pager .e-numericitem {
    color: #adb5bd;
    background-color: #1a222b;
    padding: 15px !important;
}

    .e-pager .e-numericitem:not(.e-currentitem) {
        border: none !important;
    }

    .e-pager .e-numericitem:hover {
        color: #fff;
    }

    .e-pager .e-numericitem.e-currentitem {
        color: #fff;
        border: none !important;
        background-color: #31373d;
    }

.e-pager div.e-icons:not(.e-disable) {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.e-grid .e-pager {
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*Logo*/
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-logo {
    padding: 10px 10px;
    margin-left: 65px;
}

/*Menu*/
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

    #menu .e-menu-item:not(.e-separator) {
        height: 50px;
        border-radius: 4px;
    }

    #menu .e-menu-item {
        box-sizing: border-box;
    }

        #menu .e-menu-item a {
            width: 100%;
            color: rgb(171, 163, 152);
            font-weight: 300;
            padding: 7px 5px;
            box-sizing: border-box;
        }

    #menu .e-anchor-wrap {
        display: inline-block;
    }

    #menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
        color: rgb(171, 163, 152);
    }

    #menu .e-menu-item.e-separator {
        border: none;
        margin: 5px 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        color: #65da41;
    }

        #menu .e-menu-item.e-separator:not(:first-child) {
            margin-top: 35px;
        }

/*Navbar*/
nav.navbar {
    background-color: rgba(18, 22, 29);
}

    nav.navbar i {
        padding: 5px;
        border-radius: 50%;
        font-size: 1.2rem;
        cursor: pointer;
        margin-right: 25px; /* Added margin for spacing */
    }

        nav.navbar i:hover,
        nav.navbar img:hover {
            cursor: pointer;
            transform: scale(1.05);
        }

nav.navbar {
    margin-left: 290px;
}

/*Profile Pic*/
img.profile-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(72, 84, 95, 0.12);
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

    .profile-wrapper .titles {
        line-height: 1;
    }

/*Radio Button Group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}

/*SideBar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75, 82, 85, 0.24);
    padding: 10px 20px;
    overflow: hidden;
}

    #sidebar .e-menu-wrapper {
        width: 100%;
        background-color: inherit;
    }

#sidebar-toggler {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

    #sidebar-toggler:hover {
        cursor: pointer;
        background-color: #48545f14;
        transform: scale(1.05);
    }

#sidebar.e-close {
    padding-left: 10px;
    padding-right: 10px;
}

    #sidebar.e-close .app-logo {
        display: none;
    }

    #sidebar.e-close .e-anchor-wrap,
    #sidebar.e-close .e-menu-item.e-menu-caret-icon {
        font-size: 0px;
    }

    #sidebar.e-close .profile-wrapper .titles {
        display: none !important;
    }

    #sidebar.e-open .e-anchor-wrap,
    #sidebar.e-close .e-menu-icon,
    #sidebar.e-open .e-menu-icon {
        visibility: visible;
    }

#sidebar.e-open .profile-wrapper .titles,
#sidebar.e-open .app-logo {
    display: flex;
}

#sidebar.e-sidebar.e-right.e-close {
    visibility: visible;
    transform: translateX(0%);
}

#sidebar.e-open #sidebar-toggler:before {
    content: "\f100";
}

#sidebar.e-close #sidebar-toggler:before {
    content: "\f101";
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

    .widget.summary > div:first-child {
        background-color: #222b33;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

        .widget.summary > div:first-child i {
            font-weight: bold;
        }

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 5px;
    }


/*Profile Page*/
.card input.form-control {
    background-color: #1e1f25;
    color: #fff;
}

    .card input.form-control:focus {
        border-color: #0d6efd;
        box-shadow: none;
    }


/* RESPONSIVE DESIGN */

/* Tablet */
@media (max-width: 992px) {
    nav.navbar {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #sidebar {
        position: fixed;
        width: 240px;
        height: 100vh;
        z-index: 1000;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

        #sidebar.e-open {
            transform: translateX(0);
        }

    .main-content {
        margin-left: 0;
        height: calc(100vh - 60px);
    }

    .profile-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    img.profile-pic {
        width: 40px;
        height: 40px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    html {
        font-size: 12px;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }

    nav.navbar i {
        font-size: 1rem;
        margin-right: 15px;
    }

    img.profile-pic {
        width: 35px;
        height: 35px;
    }

    .widget {
        margin-bottom: 1rem;
    }

    .logo-wrapper {
        justify-content: center;
    }

    #sidebar {
        width: 200px;
    }
}